@using ISEN.DotNet.Library.Repositories.Interfaces
@{
    ViewBag.Title = "My Equipment";
    Layout = "_Layout";

}
@model IEnumerable<ISEN.DotNet.Library.Models.Statement>

<h2>@Model.FirstOrDefault().Equipment.Owner.Display</h2>
<div class="row">
    <div class="col-md-12">
        <h3>Equipment : </h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Consommation
                    </th>
                    <th>
                        Production
                    </th>
                    <th>
                        Equipment
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var statement in Model)
            {
                <tr>
                    <td>@statement.Date</td>
                    <td>@statement.Consommation</td>
                    <td>@statement.Production</td>
                    <td>@statement.Equipment.Name</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>