@using ISEN.DotNet.Library.Repositories.Implementations
@using ISEN.DotNet.Library.Repositories.Interfaces
@{
    ViewBag.Title = "My Equipment";
    Layout = "_Layout";
}
@model ISEN.DotNet.Library.Models.Owner
@inject IEquipmentRepository EquipmentRepository
@inject IStatementRepository StatementRepository

<h2>@Model.Display</h2>
<div class="row">
    <div class="col-md-12">
        <h3>My Equipments : </h3>
        <p>
            <a asp-controller="Equipment" asp-action="Enrole" class="btn btn-primary">Enrole New</a>
        </p>
        <div id="openweathermap-widget-11"></div>
        <script src='https://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script><script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 11, city: 'Toulon,FR',appid: '6b5b7b2a277e86508228c27aefef80c1',units: 'metric',containerid: 'openweathermap-widget-11',  });  (function() {var script = document.createElement('script');script.async = true;script.src = "https://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Location
                </th>
                <th>
                    Type
                </th>
                <th>
                    Max Production (kWh)
                </th>
                <th>
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var equipment in EquipmentRepository.Find(p => p.Owner == Model))
            {
                var tests = StatementRepository.Find(p => p.Equipment.Owner.Id == Model.Id &&
                                              p.Equipment == equipment);
                var lastLocation = "";
                foreach (var test in tests)
                {
                    lastLocation = test.Location;
                }
                <tr>
                    <td>@equipment.Name</td>
                    <td>@if (equipment.Location == lastLocation)
                        {
                            @equipment.Location
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="color: red"></span>
                        }
                    </td>
                    <td>@equipment.Type</td>
                    <td>@equipment.MaxProduction</td>
                    <td>
                        <a asp-controller="Equipment" asp-action="Detail" asp-route-id="@equipment.Id">Details</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>