@using ISEN.DotNet.Library.Repositories.Interfaces
@{
    ViewBag.Title = "My Statement";
    Layout = "_Layout";
    var statements = StatementRepository.Find(p => p.Equipment.Owner == Model).OrderBy(p => p.Date);
}
@model ISEN.DotNet.Library.Models.Owner
@inject IStatementRepository StatementRepository

<h2>@Model.Display</h2>
<div class="row">
    <div class="col-md-12">
        <h3>My Statements :</h3>
        <a id="button1" class="btn btn-primary">Energy Graph</a>
        <a id="button2" class="btn btn-primary">Comparison Graph</a>
        <a id="button3" class="btn btn-primary">Production Graph</a>
        <div id="linechartdiv" style="width: 50vw; height:auto"><canvas id="lineChart"></canvas></div>
        <div id="barchartdiv" style="width: 50vw; height:auto"><canvas id="barChart"></canvas></div>
        <div id="polarchartdiv" style="width: 25vw; height:auto"><canvas id="polarChart"></canvas></div>
        @{ChartJSCore.Models.Chart chart1 = (ChartJSCore.Models.Chart)ViewData["chart1"]; }
        @{ChartJSCore.Models.Chart chart2 = (ChartJSCore.Models.Chart)ViewData["chart2"]; }
        @{ChartJSCore.Models.Chart chart3 = (ChartJSCore.Models.Chart)ViewData["chart3"]; }

        @section Scripts {
            <script>
                @Html.Raw(chart1.CreateChartCode("lineChart"));
                @Html.Raw(chart2.CreateChartCode("barChart"));
                @Html.Raw(chart3.CreateChartCode("polarChart"));

                $(document).ready(function () {
                    $('#barchartdiv').hide();
                    $('#polarchartdiv').hide();
                    $("#button1").click(function(){
                        $("#linechartdiv").show();
                        $("#barchartdiv").hide();
                        $("#polarchartdiv").hide();
                    });
                });
                $(document).ready(function () {
                    $("#button2").click(function () {
                        $("#barchartdiv").show();
                        $("#linechartdiv").hide();
                        $("#polarchartdiv").hide();
                    });
                });
                $(document).ready(function () {
                    $("#button3").click(function () {
                        $("#polarchartdiv").show();
                        $("#linechartdiv").hide();
                        $("#barchartdiv").hide();
                    });
                });
            </script>
        }
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Consommation (kWh)
                </th>
                <th>
                    Production (kWh)
                </th>
                <th>
                    Equipment
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var statement in statements)
            {
                <tr>
                    <td>@statement.Date</td>
                    <td>@statement.Consommation</td>
                    <td>@statement.Production</td>
                    <td>@statement.Equipment.Name</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>