@using ISEN.DotNet.Library.Repositories.Interfaces
@{
    ViewBag.Title = "My Energy";
    Layout = "_Layout";
}
@inject IStatementRepository StatementRepository
@model ISEN.DotNet.Library.Models.Equipment
<h2>Equipment : <strong>@Model.Display</strong></h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Consommation (kWh)
                    </th>
                    <th>
                        Production (kWh)
                    </th>
                    <th>
                        Surproduction (kwh)
                    </th>
                    <th>
                        Rendement
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var statement in StatementRepository.Find(p => p.Equipment.Id == Model.Id))
                {
                    <tr>
                        <td>@statement.Date</td>
                        <td>@statement.Consommation</td>
                        <td>@statement.Production</td>
                        <td>@statement.OverProduction</td>
                        <td>@if (@statement.Rendement > 50)
                            {
                                <p style="color : green">@statement.Rendement%</p>
                            }
                            else
                            {
                                <p style="color : red">@statement.Rendement%</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>