@using ISEN.DotNet.Library.Repositories.Interfaces
@{
    ViewBag.Title = "My Energy";
    Layout = "_Layout";

}
@inject IStatementRepository StatementRepository
@model ISEN.DotNet.Library.Models.Equipment
<h2>Equipment : <strong>@Model.Display</strong></h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Consommation
                    </th>
                    <th>
                        Production / Maximum Production
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var statement in StatementRepository.Find(p => p.Id == Model.Id))
                {
                    <tr>
                        <td>@statement.Date</td>
                        <td>@statement.Consommation</td>
                        <td>@statement.Production / @statement.Equipment.MaxProduction</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>